*,
*::before,
*::after
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Containers */
main { 
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: pink;
}

.map-container{
  display: grid;
  grid-template-columns: repeat(20, 1fr); 
  margin: auto;
}

.side-menu{
  width: 150px;
  height: 100%;
  background: cornsilk;
  padding: 20px 0;
}

/* Tiles */
.tile{
  width: 30px;
  height: 30px;
  background-size: cover;
}
.tile:hover{
  border: 2px dotted black;
  cursor: pointer;
}
.tile-sky{background-image: url('img/sky.png');}
.tile-ground{background-image: url('img/ground.png');}
.tile-grass{background-image: url('img/grass.png');}
.tile-tree-trunk{background-image: url('img/tree_trunk.png');}
.tile-leaves{background-image: url('img/leaves.png');}
.tile-rock{background-image: url('img/rock.png');}

/* Tools */
.tool{
  width: 60px;
  height: 60px;
  margin: 15px auto;
  background-size: cover;
}
.tool:hover,
.tool-selected{
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.tool-axe{background-image: url('img/axe.png');}
.tool-pickaxe{background-image: url('img/pickaxe.png');}
.tool-shovel{background-image: url('img/shovel.png');}

/* Inventory */
.inventory-container{
  padding: 10px 0;
}
.tile-inventory{
  width: 40px;
  height: 40px;
  margin: 15px auto;
  background-size: cover;
}
.tile-inventory:hover,
.tile-inventory-selected{
  outline: 3px solid black;
  cursor: pointer;
}
.tile-inventory-counter{
  display: block;
  padding-top: 5px;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.game-panel-incompatible-selection {
  border-color: red;
  outline-color: red;
}
.reset-btn{
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  background: pink;
  border: 0;
  outline: 0;
}
.reset-btn:hover{
  outline: 3px solid black;
}